In [1]:
import mysql.connector as ms
import pandas as pd

In [ ]:
course_code = {'Accounting': [180,200,220], 'Finance':[200, 220, 240], 'marketing': [240, 260, 280]}
cc = course_code
score = 220
for cc in course_code:
    if score in course_code[cc]:
        print(score, 'is in', cc)
print(type(course_code))

print(course_code['Finance'])

In [17]:
inputs = {a:'localhost', b:'root', c:'Adidas@124'}

hosts = 'localhost'
users= 'root'
passwords='Adidas@124'

#inputs = inputs
#for inputs in inputs:
    #if host == a and user==b and password==c:
        #print('log on complete')
    #else:
        #print('please input correct data')

In [2]:
database = input('Please input database: ')

Please input database: sql_python

In [19]:
db_conn = ms.connect(host=input('Please key in your host_ID: '), 
                     user=input('Please key in your user_ID: '), 
                     password =input('Please key in your passkey: '),
                     database = database)

Please key in your host_ID: localhost
Please key in your user_ID: root
Please key in your passkey: Adidas@124

In [22]:
inputs = {a:'localhost', b:'root', c:'Adidas@124'}
inputs = inputs

hosts = 'localhost'
users= 'root'
passwords='Adidas@124'

for inputs in inputs:
    if hosts == host and users==user and passwords==password:
        print('log on complete')
    else:
        print('please input correct data')

NameError: name 'host' is not defined

In [4]:
cursor = db_conn.cursor()
print(cursor)

CMySQLCursor: (Nothing executed yet)

In [5]:
def read_query(db_conn, query):
    cursor = db_conn.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [6]:
query = input('Please input query: ')

#db_conn = ms.connect(host=input('Please key in your host_ID: '), 
                     #user=input('Please key in your user_ID: '), 
                     #password =input('Please key in your passkey: '), 
                                     #database = input('Please select the schema: '))
results = read_query(db_conn, query)
for result in results:
    print(result)

Please input query: select * from animal
('a', 'cat', '2.5', 1, 'yes')
('b', 'dog', '3.0', 3, 'yes')
('c', 'snake', '0.5', 2, 'no')
('d', 'cat', '', 3, 'yes')
('e', 'goat', '5.0', 2, 'no')
('f', 'cat', '2.0', 1, 'no')
('g', 'cow', '4.5', 1, 'no')
('h', 'sheep', '', 2, 'yes')
('i', 'pig', '7.0', 1, 'no')
('j', 'dog', '1.5', 1, 'no')

In [9]:
dframe = []

for result in results:
    result = list(result)
    dframe.append(result)
    
columns = ['id', 'name', 'priority', 'visit', 'record_updated']

df4 = pd.DataFrame(dframe, columns = columns)
display(df4)

  id   name priority  visit record_updated
0  a    cat      2.5      1            yes
1  b    dog      3.0      3            yes
2  c  snake      0.5      2             no
3  d    cat               3            yes
4  e   goat      5.0      2             no
5  f    cat      2.0      1             no
6  g    cow      4.5      1             no
7  h  sheep               2            yes
8  i    pig      7.0      1             no
9  j    dog      1.5      1             no